/* from the top right corner */
/*generic button */
div.c_sidebar {
    background-color:white;
    display: block;
    width: 40px;
    right: 0px;
    transition: 0.5s;
    /*set margin and padding to zero */
    margin: 0;
    padding: 0;
}
    
div.c_button-sidebar{
    display: block;
    background-color:white;
    border:1px solid #e5e5e5;
    position:fixed;
    height:40px;
    width:inherit;
    right:inherit;
   /*set margin and padding to zero */
    margin: 0;
    padding: 0;
    overflow:hidden;
    /* The transition somehow causes different displays in different browsers */
    /* -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1, 1);*/
    z-index:1000;
    cursor: pointer;
    /* if we add transition here it adds to the transition of the containing
    element upon invoking the sliding navigation */
    /*transition: 0.2s;*/
}
/* common settings for all child elements */
div.c_button-sidebar > * {
    text-decoration:none;
    line-height:1.3em;
    font-size:16px;
    display: block;
    height: inherit;
    margin-top: 8px;
    margin-bottom: 8px;
    /*position:fixed;*/
    float: left;

    /*height: inherit;*/
    /*padding-left:0.5em;
    padding-right:0.2em;*/
}
/* show icon */
div.c_button-sidebar > *.c_icon {
    display: block;
    /* icons should inherit the full width*/
    width: 24px;
    margin-left: 8px;
    margin-right: 8px;
}
/* do not display label */
div.c_button-sidebar > *.c_label {
    visibility: hidden;
    /*padding-left: 40px;*/
    /*width: 200px;*/
    width: 155px;
    text-decoration:none;
    /*margin-left: 40px;*/
    padding-left: 0.2em;
}
/* hovering state */
div.c_button-sidebar:hover {
    width:200px;
}
/* display block */
/* padding and margins */

/* toggle the display of direct children with class c_label*/
div.c_button-sidebar:hover > *.c_label,
div.c_button-sidebar:focus > *.c_label {
    visibility: visible;
/*    border:1px solid #e5e5e5;
    border-top-left-radius:5px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:5px;*/
}

/* sort order of buttons and stack them vertically */
/*#menu,*/
#menuOpen,
#menuClose,
#toggleSidebar {
    top: 0px;
}
#xmlSourceLink{
    top:40px;
}
#backToTop{
    top:80px;
}
#goToBottom {
    top:120px;
}
#prevIssue{
    top:160px;
}
#nextIssue{
    top:200px;
}
/* the first button toggling display features should have a leading gap*/
#toggleLb {
    top:260px;
}
/* change toggled buttons*/
#toggleLb.c_toggled{
    color: white;
    background-color: black;
}
#toggleSidebar >.c_open {
    display: block;
}
#toggleSidebar >.c_close {
    display: none;
}
#toggleSidebar.c_toggled >.c_open {
    display: none;
}
#toggleSidebar.c_toggled >.c_close {
    display: block;
}
/* content of buttons */
#c_sidebar svg {
    display: block;
    width: 100%;
    height: 100%;
}
/*#toggleSidebar:before {
   content: url("../assets/icons/list.svg");
   display: block;
   position: fixed;
   margin: auto;
   padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
}*/
/*#toggleSidebar.c_toggled:before {
   content: url("../assets/icons/x.svg");
   display: block;
   position: fixed;
   margin: auto;
   padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
}*/
/*#xmlSourceLink:before{
    content: url("../assets/icons/download.svg");
    font-size:20px;
   padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}*/
/*#prevIssue:before{
    content: url("../assets/icons/chevron-left.svg");
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}*/
/*#nextIssue:before{
    content: url("../assets/icons/chevron-right.svg");
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}*/
/*#backToTop:before{
    content: url("../assets/icons/arrow-up.svg");
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}*/
/*#goToBottom:before{
    content: url("../assets/icons/arrow-down.svg");
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}*/
/*#toggleLb:before{
    content:"lb";
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}