/* from the top right corner */
/*generic button */
div.c_sidebar {
    background-color:white;
    display: block;
    width: 40px;
    right: 0px;
    transition: 0.5s;
    /*set margin and padding to zero */
    margin: 0;
    padding: 0;
}
    
div.c_button-sidebar{
    display: block;
    background-color:white;
    border:1px solid #e5e5e5;
    position:fixed;
    height:40px;
    width:inherit;
    right:inherit;
   /*set margin and padding to zero */
    margin: 0;
    padding: 0;
    overflow:hidden;
    /* The transition somehow causes different displays in different browsers */
    /* -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1, 1);*/
    z-index:1000;
    cursor: pointer;
    transition: inherit;
}
/* common settings for all child elements */
div.c_button-sidebar * {
    text-decoration:none;
    line-height:1.3em;
    font-size:16px;
    /*padding-left:0.5em;
    padding-right:0.2em;*/
}
/* do not display label */
div.c_button-sidebar > *.c_label {
    display: none;
    padding-left: 40px;
    height: inherit;
    width: 200px;
    text-decoration:none;
}
/* hovering state */
div.c_button-sidebar:hover {
    width:200px;
}
/* display block */
/* padding and margins */

/* toggle the display of direct children with class c_label*/
div.c_button-sidebar:hover > *.c_label,
div.c_button-sidebar:focus > *.c_label {
    display: block;
    /*height: inherit;*/
    /*width:200px;*/
    border:1px solid #e5e5e5;
    border-top-left-radius:5px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:5px;
}

/* sort order of buttons and stack them vertically */
/*#menu,*/
#menuOpen,
#menuClose,
#toggleSidebar {
    top: 0px;
/*    padding-top:0.5em;
    padding-bottom:0.5em;
    cursor: pointer;*/
}
#xmlSourceLink{
    top:40px;
}
#backToTop{
    top:80px;
}
#goToBottom {
    top:120px;
}
#prevIssue{
    top:160px;
}
#nextIssue{
    top:200px;
}
/* the first button toggling display features should have a leading gap*/
#toggleLb {
    top:260px;
}
/* change toggled buttons*/
#toggleLb.c_toggled{
    color: white;
    background-color: black;
}
/* content of buttons */
#c_sidebar svg {
    display: block;
    width: 100%;
    height: 100%;
}
#toggleSidebar:before {
   content: url("../assets/icons/list.svg");
   display: block;
   position: fixed;
   margin: auto;
   padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
}
#toggleSidebar.c_toggled:before {
   content: url("../assets/icons/x.svg");
   display: block;
   position: fixed;
   margin: auto;
   padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
}
#xmlSourceLink:before{
    /*content:"TEI";*/
    /*content: url("../assets/icons/github-logo.svg");*/
    content: url("../assets/icons/download.svg");
    font-size:20px;
   padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}
#prevIssue:before{
    /*content:"\25c0";*/
    content: url("../assets/icons/chevron-left.svg");
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}
#nextIssue:before{
    /*content:"\25ba";*/
    content: url("../assets/icons/chevron-right.svg");
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}
#backToTop:before{
    /*content:"\25b2";*/
    content: url("../assets/icons/arrow-up.svg");
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}
#goToBottom:before{
    /*content:"\25bc";*/
    content: url("../assets/icons/arrow-down.svg");
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}
#toggleLb:before{
    content:"lb";
    /*content: url("../assets/icons/arrow-down.svg");*/
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}